OPENAI_API_KEY="OPENAI_API_KEY"
OLLAMA_URL=http://localhost:11434
DATASET_PATH=corpus/metaphor_dataset.csv
PROMPTS_PATH=resources/prompts.csv
MODEL_CONFIG_PATH=configuration/models.json
MODEL_HISTORY_PATH=data/model_history.json